;使用说明:在本文件中修改机器的参数并保存，将修改好的文件拷贝到TF卡或者U盘中,将存有配置文件的存储器插入Lerdge主板
;进入"齿轮图标"->"系统设置"->"升级图标"，选中存有配置文件的存储器。
;选择存储器中对应的配置文件，执行即可

;设置系统参数

M8000 L1 R136 V252 B0 T1
;    L: 语言(0: English 1: Simplified Chinese)
;    R: 系统界面颜色红色分量
;    V: 系统界面颜色绿色分量
;    B: 系统界面颜色蓝色分量
;    T: 按键音(0: 关闭 1: 开启)

;设置打印机运动结构

M8100 S0
;    S: S0:XYZ; S1:delta; S2:corexy; S3:corexz;

;设置各轴行程空间

M8100 X125.000 Y110.000 Z125.000
;    X: X轴行程空间
;    Y: Y轴行程空间
;    Z: Z轴行程空间

;设置热床尺寸

M8141 X125.000 I0.000 Y110.000 J0.000
;    X: X轴方向热床尺寸
;    I:X轴方向热床边缘尺寸
;    Y: Y轴方向热床尺寸
;    J:Y轴方向热床边缘尺寸

;设置归位偏移量

M8143 X0.000 Y0.000 Z0.000
;    X: X轴归位偏移量
;    Y: Y轴归位偏移量
;    Z: Z轴归位偏移量

;设置归位位置(min:-1 max:1)

M8142 X-1 Y1 Z1
;    X: X轴归位位置
;    Y: Y轴归位位置
;    Z: Z轴归位位置

;设置归位开关接线模式(0: 常开 1: 常闭)

M8101 X0 Y0 Z0
;    X: X轴归位开关接线模式
;    Y: Y轴归位开关接线模式
;    Z: Z轴归位开关接线模式

;设置归位开关接线模式(0: 低电平触发 1: 高电平触发)

M8102 X1 Y1 Z1
;    X: X轴归位开关触发模式
;    Y: Y轴归位开关触发模式
;    Z: Z轴归位开关触发模式

;设置暂停参数

M8104 X5.000 Y5.000 Z5.000 R5.000 F40.000
;    X: 打印暂停时X轴停车坐标
;    Y: 打印暂停时Y轴停车坐标
;    Z: 打印暂停时Z轴的抬升量
;    R: 打印暂停时耗材回抽长度
;    F: 打印暂停时耗材回抽速度

;设置换料参数

M8105 S200.000 F600.000 L5.000 E10.000 R5.000
;    S: 最小换料温度
;    F: 材料更换速度
;    L: 材料更换长度
;    E: 载入材料后的挤出长度
;    R: 回抽长度

;设置调平参数

M8106 S0 X15.000 Y0.000 Z0.000 O10.000 C160.000 R160.000 T0 W0 F0
;    S: 调平点数
;    X: X轴探针偏移量
;    Y: Y轴探针偏移量
;    Z: Z轴探针偏移量
;    O: 探针打开角度
;    C: 探针关闭角度
;    R: 探针复位角度
;    T: 探针触发模式
;    W: 探针接线模式
;    F: 探针复用功能(0: 仅用于调平探测 1: 用于调平探测与Z轴最小位置归位)

;设置软件回抽参数

M8107 S10.000 F6000.000 Z2.000
;    S: 回抽长度
;    F: 回抽速度
;    Z: 回抽时Z轴抬升量

;设置软件重载参数

M8108 S10.000 F6000.000 Z2.000
;    S: 重载长度
;    F: 重载速度
;    Z: 重载时Z轴下降量

;设置线性挤出系数

M8109 E0 K0.000
;    E: 挤出机索引
;    K: 线性挤出值

;设置线性挤出系数

M8109 E1 K0.000
;    E: 挤出机索引
;    K: 线性挤出值

;设置Ex电机

M8110 N0 T1 W0
;    T: Ex归位开关触发模式 (0: 低电平触发 1: 高电平触发)
;    W: Ex归位开关接线模式(0: 常开接线 1: 常闭接线)

;设置最大加速度

M8201 X2000.000 Y2000.000 Z80.000 E2000.000
;    X: X轴最大加速度
;    Y: Y轴最大加速度
;    Z: Z轴最大加速度
;    E: E轴最大加速度

;设置加速度

M8202 P1200.000 T2000.000 E1500.000
;    P: 打印减速度
;    T: 空载加速度
;    E: 挤出机运行加速度

;设置极限速度

M8203 X200.000 Y200.000 Z15.000 E100.000 P3.000 T3.000
;    X: X轴最大速度
;    Y: Y轴最大速度
;    Z: Z轴最大速度
;    E: E轴最大速度
;    P: 最小打印速度
;    T: 最小空载速度

;设置突变速度

M8204 X10.000 Y10.000 Z5.000 E10.000
;    X: X轴突变速度
;    Y: Y轴突变速度
;    Z: Z轴突变速度
;    E: E轴突变速度

;设置归位速度

M8205 X10.000 Y10.000 Z5.000
;    X: X轴归位速度
;    Y: Y轴归位速度
;    Z: Z轴归位速度

;设置定位速度

M8206 X10.000 Y10.000 Z5.000
;    X: X轴定位速度
;    Y: Y轴定位速度
;    Z: Z轴定位速度

;设置步进值

M8207 X80.000 Y80.000 Z400.000 A382.000 B98.000
;    X: X轴步进值
;    Y: Y轴步进值
;    Z: Z轴步进值
;    A: E0轴步进值
;    B: E1轴步进值

;设置电机方向(0: 顺时针 1: 逆时针)

M8208 X1 Y1 Z0 A1 B0
;    X: X电机方向
;    Y: Y电机方向
;    Z: Z电机方向
;    A: E0电机方向
;    B: E1电机方向

;设置热头最小温度

M8302 H0 S0.000
;    H: 热头索引
;    S: 热头最小温度

;设置热端最大温度

M8303 H0 S260.000
M8303 B110.000
;    H: 热头索引
;    S: 热头最大温度
;    B: 热床最大温度

;设置热端温度保护阈值

M8304 H0 S0.500
M8304 B0.200
;    H: 热头索引
;    S: 热头温度保护阈值
;    B: 热床温度保护阈值

;设置热头温度PID

M8305 H0 P378.067 I18.392 D1942.933
;    H: 热头索引
;    P:比例系数
;    I: 积分系数
;    D: 微分系数

;设置热床PID

M8306 P898.249 I13.969 D14440.253
;    P: 比例系数
;    I: 积分系数
;    D: 微分系数

;设置热端预热温度

M8390 H0 P200.000 A240.000 C190.000 Q210.000
M8390 B P60.000 A110.000 C75.000 Q80.000
;    H/B: 热端索引
;    P:PLA预热温度
;    A: ABS预热温度
;    C: 自定义材料预热温度
;    Q: 快捷预热温度

保存所设置的参数

M500
